button{


 font-size: large; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: bisque;  border-radius: 100px; color:brown;


}



.pro { background-color: lavender; background-size: 80%; color:blue; background-size: cover;



}



h1{


color: red;
border-color: ;
}xsj